JWT_SECRET=jL32yEMFfkfXpJnwFVYfJyTgy8hEsyuDqxJeqflOTZw=jL32yEMFfkfXpJnwFVYfJyTgy8hEsyuDqxJeqflOTZw=jL32yEMFfkfXpJnwFVYfJyTgy8hEsyuDqxJeqflOTZw=
JWT_EXPIRATION=86400000
MYSQL_DB=AllegroLikeDb
MYSQL_USER=root
MYSQL_PASSWORD=root
